*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/TestingGit/bin
/TestingGit/.settings
/.metadata
identified-project-coordinates.json
manual-mappings.json
_0.fdt
_0.fdx
_0.fnm
_0.frq
_0.nrm
_0.prx
_0.tii
_0.tis
segments.gen
segments_1
/August/.settings/org.eclipse.jdt.core.prefs
.settings
